.top {
    background: rgb(182, 164, 164);
    width: 100%;
    height: 500px;
}
.main {
    background: rgb(121, 58, 58);
    width: 100%;
    height: 500px;
}
.bottom {
    background: rgb(57, 133, 60);
    width: 100%;
    height: 500px;
}